$font-source: 'https://fonts.googleapis.com/css?family=Arimo|Vollkorn';
$font-title: 'Vollkorn',serif;
$font-subtitle:$font-title;
$font-common: 'Arimo',sans-serif;
$font-color-title: #111;
$font-color-subtitle: #555;
$font-color-common: #333; 

$color-primary: #5C97BF;