*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden;
}

a, a:visited, a:hover a:focus{
    text-decoration: none;
}

button:focus {
    outline: none;
}

ul, li{
    list-style: none;
}