.layout-container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.layout-sub-container-flex{
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.layout-index-container-menu{
    justify-content: space-between;
}

.layout-index-title-one{
    width: 20%;
}

.layout-index-menu{
    display: flex;
    width: 50%;
    ul{
        display: flex;
        align-items: center;
        width: 100%;
    }
    li{
        width: 25%;
        display: flex;
        a{
            margin: auto;
        }
    }
}

.layout-index-container-titles{
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
}

.layout-index-container-callButton_img {
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    div{
        position: relative;    
        width: 50%;
        min-width: 250px;
        height: 350px;
    }
    img{
        width: 100%;
        height: inherit;
        position: absolute;
        right: 0px;
        
    }
    a{
        margin: auto;
    }
}

.layout-container-flex:nth-child(2){
    margin-top: 12px;
}

.layout-sub-container2{
    flex-direction: column;
    margin-bottom: 30px;
    h3{
        margin: 30px 0 0 60%;
    }
}

.layout-cardSobre-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    margin: 10px 3% 0 0;
    height: 100%;
    img{
        width: 100%;
        height: 50%;
    }
    p{
        width: 100%;
        margin: 3px 0 0 0;
        padding: 0;
        text-align: center;
    }
}

