.style-index-menu{
    li{
        margin: none;
        padding: 5%;
        transition: 0.4s ease;
    }
    li:hover{
        border: 1px solid $color-primary;
        a{
           color: $color-primary;
        }
    }
}

.style-btn-CTA{
    background: transparent;
    border: 1px solid $color-primary;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 22px;
    letter-spacing: 1.2px;
    font-family: $font-common;
    color: $color-primary;
    transition: all 0.4s ease;
    cursor: pointer;
}

.style-btn-CTA:hover{
    background: $color-primary;
    color: #fff;
}

.style-container2-index{
    background: $color-primary;
}

.style-container3-index{
    height: 400px;
}