@import url("https://fonts.googleapis.com/css?family=Arimo|Vollkorn");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  overflow-x: hidden; }

a, a:visited, a:hover a:focus {
  text-decoration: none; }

button:focus {
  outline: none; }

ul, li {
  list-style: none; }

.utilitario-flex-row {
  display: flex;
  width: 100%; }

.utilitario-bgGray {
  border: 1px solid #5C97BF;
  color: #5C97BF;
  padding: 5px; }

.layout-container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.layout-sub-container-flex {
  display: flex;
  width: 100%;
  max-width: 1000px; }

.layout-index-container-menu {
  justify-content: space-between; }

.layout-index-title-one {
  width: 20%; }

.layout-index-menu {
  display: flex;
  width: 50%; }
  .layout-index-menu ul {
    display: flex;
    align-items: center;
    width: 100%; }
  .layout-index-menu li {
    width: 25%;
    display: flex; }
    .layout-index-menu li a {
      margin: auto; }

.layout-index-container-titles {
  margin-top: 15px;
  flex-direction: column;
  align-items: center; }

.layout-index-container-callButton_img {
  margin-top: 40px;
  justify-content: space-between;
  align-items: center; }
  .layout-index-container-callButton_img div {
    position: relative;
    width: 50%;
    min-width: 250px;
    height: 350px; }
  .layout-index-container-callButton_img img {
    width: 100%;
    height: inherit;
    position: absolute;
    right: 0px; }
  .layout-index-container-callButton_img a {
    margin: auto; }

.layout-container-flex:nth-child(2) {
  margin-top: 12px; }

.layout-sub-container2 {
  flex-direction: column;
  margin-bottom: 30px; }
  .layout-sub-container2 h3 {
    margin: 30px 0 0 60%; }

.layout-cardSobre-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  margin: 10px 3% 0 0;
  height: 100%; }
  .layout-cardSobre-index img {
    width: 100%;
    height: 50%; }
  .layout-cardSobre-index p {
    width: 100%;
    margin: 3px 0 0 0;
    padding: 0;
    text-align: center; }

.font-index-title-one {
  font-family: "Vollkorn", serif;
  letter-spacing: 1.8px;
  color: #111; }
  .font-index-title-one span {
    font-size: 33px; }
  .font-index-title-one span span {
    margin: 1.5px;
    color: #5C97BF; }

.font-index-subTitle {
  font-size: 28px;
  letter-spacing: 1.1px;
  font-family: "Vollkorn", serif;
  color: #555; }

.font-common {
  font-size: 18px;
  letter-spacing: .4px;
  font-family: "Arimo", sans-serif;
  color: #333; }

.font-h3-index {
  font-size: 28px;
  letter-spacing: 1px;
  color: #fff;
  text-align: start;
  line-height: 85%; }
  .font-h3-index span {
    text-align: end;
    font-size: 18px;
    letter-spacing: .2px;
    font-family: "Arimo", sans-serif;
    color: #ccc;
    line-height: 100%; }

.style-index-menu li {
  margin: none;
  padding: 5%;
  transition: 0.4s ease; }

.style-index-menu li:hover {
  border: 1px solid #5C97BF; }
  .style-index-menu li:hover a {
    color: #5C97BF; }

.style-btn-CTA {
  background: transparent;
  border: 1px solid #5C97BF;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 22px;
  letter-spacing: 1.2px;
  font-family: "Arimo", sans-serif;
  color: #5C97BF;
  transition: all 0.4s ease;
  cursor: pointer; }

.style-btn-CTA:hover {
  background: #5C97BF;
  color: #fff; }

.style-container2-index {
  background: #5C97BF; }

.style-container3-index {
  height: 400px; }
