@import url($font-source);

.font-index-title-one{
    font-family: $font-title;
    letter-spacing: 1.8px;
    color: $font-color-title;
    span{
        font-size: 33px;
    }
    span span{
        margin: 1.5px;
        color: $color-primary;
    }
}

.font-index-subTitle{
    font-size: 28px;
    letter-spacing: 1.1px;
    font-family: $font-subtitle;
    color: $font-color-subtitle;
}

.font-common{
    font-size: 18px;
    letter-spacing: .4px;
    font-family: $font-common;
    color: $font-color-common;
}

.font-h3-index{
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff;
    text-align: start;
    line-height: 85%;
    span{
        text-align: end;
        font-size: 18px;
        letter-spacing: .2px;
        font-family: $font-common;
        color: #ccc;
        line-height: 100%;
    }
}